<a href="https://colab.research.google.com/github/Dhanashri2526/RegistrationLoginPython/blob/master/Task2Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
column_names=[ 'Class Name','Left-Weight','Left-Distance','Right-Weight','Right-Distance']

In [3]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',names=column_names)

In [4]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Class Name      625 non-null    object
 1   Left-Weight     625 non-null    int64
 2   Left-Distance   625 non-null    int64
 3   Right-Weight    625 non-null    int64
 4   Right-Distance  625 non-null    int64
dtypes: int64(4), object(1)
memory usage: 24.5+ KB

In [15]:
#Check the number of data points and features in the data.
# df.count()
print("Features")
print(df.dtypes)
print("No of Features : " + str(len(df.dtypes)))
print("No of Datapoints : " + str(len(df)))

Features
Class Name        object
Left-Weight        int64
Left-Distance      int64
Right-Weight       int64
Right-Distance     int64
dtype: object
No of Features : 5
No of Datapoints : 625

In [19]:
# Find unique values for each column.
df['Class Name'].unique

<bound method Series.unique of 0      B
1      R
2      R
3      R
4      R
      ..
620    L
621    L
622    L
623    L
624    B
Name: Class Name, Length: 625, dtype: object>

In [20]:
df['Left-Weight'].unique

<bound method Series.unique of 0      1
1      1
2      1
3      1
4      1
      ..
620    5
621    5
622    5
623    5
624    5
Name: Left-Weight, Length: 625, dtype: int64>

In [22]:
df['Left-Distance'].unique

<bound method Series.unique of 0      1
1      1
2      1
3      1
4      1
      ..
620    5
621    5
622    5
623    5
624    5
Name: Left-Distance, Length: 625, dtype: int64>

In [23]:
df['Right-Weight'].unique

<bound method Series.unique of 0      1
1      1
2      1
3      1
4      1
      ..
620    5
621    5
622    5
623    5
624    5
Name: Right-Weight, Length: 625, dtype: int64>

In [24]:
df['Right-Distance'].unique

<bound method Series.unique of 0      1
1      2
2      3
3      4
4      5
      ..
620    1
621    2
622    3
623    4
624    5
Name: Right-Distance, Length: 625, dtype: int64>

In [25]:
# Check the data types of values in each column.
df.dtypes

Class Name        object
Left-Weight        int64
Left-Distance      int64
Right-Weight       int64
Right-Distance     int64
dtype: object

In [27]:
# Check basic statistics of data.
df.describe

<bound method NDFrame.describe of     Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]>

In [31]:
# Add a new column in the data.
df['Total']=''

In [32]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance Total
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...   ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 6 columns]

In [37]:
# Then drop this column just created.
df=df.drop(['Total'],axis=1)
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [48]:
# create a new column that has values found as a result of applying some operation on the
# existing columns
df["Total_Weight"]=df.iloc[:,2:4].sum(axis=1)

In [49]:
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_Weight
0,B,1,1,1,1,2
1,R,1,1,1,2,2
2,R,1,1,1,3,2
3,R,1,1,1,4,2
4,R,1,1,1,5,2
...,...,...,...,...,...,...
620,L,5,5,5,1,10
621,L,5,5,5,2,10
622,L,5,5,5,3,10
623,L,5,5,5,4,10
624,B,5,5,5,5,10

In [50]:
# Access elements using loc and iloc.
df.loc[0]

Class Name        B
Left-Weight       1
Left-Distance     1
Right-Weight      1
Right-Distance    1
Total_Weight      2
Name: 0, dtype: object

In [51]:
# Access elements using loc and iloc.
df.iloc[0]

Class Name        B
Left-Weight       1
Left-Distance     1
Right-Weight      1
Right-Distance    1
Total_Weight      2
Name: 0, dtype: object

In [54]:
df.loc[:,'Class Name']

0      B
1      R
2      R
3      R
4      R
      ..
620    L
621    L
622    L
623    L
624    B
Name: Class Name, Length: 625, dtype: object

In [60]:
null_data = df[df.isnull().any(axis=1)]
null_data

Empty DataFrame
Columns: [Class Name, Left-Weight, Left-Distance, Right-Weight, Right-Distance, Total_Weight]
Index: []